/*****************************
    GENERAL PAGE RULES
******************************/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root {
    font-family: Arial, Helvetica, sans-serif;
}
/*****************************
    MAIN PAGE RULES
******************************/
/* Wrapper and sons rules */
    #wrapper {
        width: 100%;
        height: 100vh;
        position: relative;
        background-image: url(https:coreui.io/vue/docs/images/vue.jpg);
        background-size: cover;
        padding: 2rem 0;
    }
    /* div container */
    .container {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        background-color: rgba(0,0,0,0.1);
        border-radius: 1rem;
        padding: 2rem;
        text-align: center;
    }

/*****************************
   STYLE ELEMENTS RULES
******************************/
/* Wrapper and sons rules */
    #wrapper button {
        display: block;
        margin: 0 auto;
        padding: 1rem;
        border-radius: 1rem;
    }
    /* white text color for vue classes */
    .white{
        color: white;
        margin: 1rem 0;
        font-weight: 600;
    }
/* hidden and active class*/
    .active {
        display: block;
    }
    .hidden {
        display : none;
    }
